
.soundcite.ck-widget{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.15) 99.102%, rgba(0, 0, 0, 0.05) 100.102%);
}
.soundcite.ck-widget::before{
  font-size: 0.9em;
  position: relative;
  top: -.05em;
  border: 0.5em solid transparent;
  border-left: 0.75em solid black;
  display: inline-block;
  content: "";
  vertical-align: -10%;
  margin-right: 0.25em;
}